#server:
#  port: 9000
#spring:
#  application:
#    name: order-service
#  cloud:
#    nacos:
#      discovery:
#        server-addr: localhost:8848
#        # enabled 默认为 true，可省略
#        # group 默认为 DEFAULT_GROUP，也可省略